.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
}

body {
  background-color: #efefef;
}

button {
  cursor: pointer;
  background-color: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
  width: 50%;
}
